:root {
    --body-color: #C9D6DF;
    --wrapper-color: #F0F5F9;
    --extra-color: #52616B;
    --font-color: #000000;
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    .wrapper {
        width: 100% !important;
    }

    #resume-div {
        justify-content: left !important;
        overflow: auto;
    }
}

@media only screen and (max-width: 350px) {
    body {
        font-size: 12px !important;
    }
}

body {
    background-image: linear-gradient(var(--wrapper-color), var(--body-color));
    background-color: var(--body-color);
    font-size: 16px;
}

.body-darkmode {
    --body-color: #0D0D0D;
    --wrapper-color: #1A1A1A;
    --extra-color: #404040;
    --font-color: #FFFFFF;
}

.wrapper {
    background-color: var(--wrapper-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0 auto;
    width: 80%;
}

.nav-bar {
    text-align: center;
    color: var(--font-color);
    padding-top: 0.5rem;
    margin-bottom: 3rem;
}

#nav-bar-header {
    font-family: Arial, sans-serif;
}

#nav-bar-paragraph {
    font-size: 130%;
}

.nav-bar-button {
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: var(--font-color);
    background-color: var(--wrapper-color);
    border: 3px solid var(--extra-color);
    border-radius: 8px;
    padding: 0 1rem;
    transition: 300ms;
    margin: 0 1rem;
}

.nav-bar-button:hover {
    background-color: var(--extra-color);
}

.nav-bar-button:active {
    color: var(--font-color);
    background-color: var(--wrapper-color);
}

#color-mode-button {
    font-size: 200%;
    border-radius: 50%;
}

.div-header {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 200%;
    color: var(--font-color);
}

.input-header {
    font-family: Georgia, serif;
    font-size: 150%;
    color: var(--font-color);
}

#personal-picture-div {
    text-align: center;
    margin-bottom: 1rem;
}

.text-input {
    display: inline-flex;
    font-family: Arial, sans-serif;
    font-size: 100%;
    padding: 0.1rem;
    width: 100%;
}

.text-input:focus {
    border: 1px solid white;
    border-radius: 8px;
    transition: 400ms;
}

.select-input {
    font-family: Arial, sans-serif;
    font-size: 100%;
    background-color: #FFFFFF;
    border: 1px solid var(--extra-color);
    padding: 0.5rem;
    transition: 300ms;
    margin-left: 1rem;
}

.select-input:hover {
    border-radius: 8px;
}

#work-experience-bullets-select {
    font-family: Arial, sans-serif;
    font-size: 100%;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

.checkbox-input {
    margin: 1rem;
}

.checkbox-label {
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: var(--font-color);
}

.checkbox-toggle {
    visibility: hidden;
}

.toggle-label {
    font-family: 'Times New Roman', serif;
    font-size: 125%;
    color: var(--font-color);
}

.toggle-label:hover {
    font-weight: bold;
}

.blue-button {
    display: inline-block;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 110%;
    color: var(--font-color);
    background-color: #1A66FF;
    border: 0.2rem solid #4D88FF;
    border-radius: 16px;
    padding: 0.5rem;
    margin-left: 0.5rem;
    transition: 200ms;
}

.blue-button:hover {
    background-color: #4D88FF;
}

.blue-button:active {
    background-color: #1A66FF;
    border-color: #1A66FF;
}

.tip-button {
    display: inline;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 125%;
    color: var(--font-color);
    background-color: #66B3FF;
    border: 0.2rem solid #CCE5FF;
    border-radius: 50%;
    padding: 0 0.5rem;
    transition: 300ms;
    margin: 2px;
}

.tip-button:hover {
    background-color: #CCE5FF;
    border-color: #66B3FF;
}

.tip-button:active {
    background-color: #1A8CFF;
    border-color: #1A8CFF;
}

.add-item-button {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: var(--font-color);
    background-color: #00E673;
    border: 0.15rem solid #00B359;
    padding: 0.5rem;
    margin: 1rem 0 0 0.5rem;
}

.add-item-button:hover {
    background-color: #00B359;
}

.add-item-button:active {
    background-color: #00CC66;
    border-color: #00CC66;
}

.add-item-button:disabled {
    background-color:#787B00;
    border-color: #787B00;
}

.remove-item-button {
    display: block;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    font-size: 110%;
    color: #FF6666;
    background-color: #FFFFFF;
    border: 0.1rem solid #FF6666;
    width: 2.2rem;
}

.remove-item-button:hover {
    color: #FFFFFF;
    background-color: #FF6666;
}

.remove-item-button:active {
    background-color: #FF4D4D;
}

#experience-items-container, #education-items-container {
    padding: 0;
}

.list-element-item {
    color: var(--font-color);
    list-style: none;
}

.list-element-item:hover {
    border: 2px dotted var(--extra-color);
    margin: 1rem 0;
}

.list-element-item > .flex-container > * {
    color: var(--font-color) !important;
}

.misc-span-item {
    display: inline-block;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: var(--font-color);
    padding: 1rem;
}

.message-span {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: var(--font-color);
    margin: 1rem 0.5rem;
}

#resume-div {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(var(--wrapper-color) 5%, var(--extra-color));
    background-position: 0 50%;
    padding: 2rem 0;
    margin: 1rem 0;
}

.input-container {
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.controls-container {
    border: 2px solid var(--extra-color);
    border-radius: 20px;
    padding: 0 1rem 1rem 1rem;
    margin: 1rem 0;
}

.dialog-item {
    border: 6px solid var(--body-color);
}

.dialog-item::backdrop {
    background-color: var(--wrapper-color);
    opacity: 50%;
}

.dialog-span {
    display: block;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 100%;
    white-space: pre-line;
    padding-bottom: 1rem;
}