* {
    box-sizing: border-box;
}

#resume {
    background-color: white;
    flex-direction: column;
    min-height: 29.7cm;
    min-width: 21cm;
    max-height: 29.7cm;
    max-width: 21cm;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}