:root {
    --resume-name-font: 'Times New Roman', serif;
    --resume-section-header-font: 'Times New Roman', serif;
    --resume-big-header-font: 'Times New Roman', serif;
    --resume-text-font: Arial, sans-serif;
    --resume-font-size: 16px;
    --resume-headers-color: #000000;
    --resume-separator-color: #000000;
    --resume-border: none;
    --resume-border-color: #000000;
}

#resume * {
    box-sizing: border-box;
}

#resume {
    border: var(--resume-border);
    border-color: var(--resume-border-color);
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: var(--resume-text-font);
    font-size: var(--resume-font-size);
    background-color: white;
    overflow: hidden;
    padding: 1% 2%;
    min-height: 29.7cm;
    min-width: 21cm;
    max-height: 29.7cm;
    max-width: 21cm;
}

.resume-text {
    display: block;
    /*font-family: var(--resume-text-font);
    font-size: 100%;*/
    font-family: inherit;
    font-size: inherit;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding: 0;
    margin: 0;
}

#personal-name {
    display: block;
    font-family: var(--resume-name-font);
    font-size: 220% !important;
    font-weight: bold;
    color: var(--resume-headers-color);
    margin-bottom: 1rem;
}

#custom-link {
    display: block;
    color: #0000ff;
    margin-top: 1rem;
}

.personal-picture {
    border-radius: 50%;
    height: 8rem;
    width: 6rem;
}

#personal-picture-resume-div {
    margin-right: 1rem;
}

#personal-description {
    padding: 0.5rem;
}

.section-header {
    font-family: var(--resume-section-header-font);
    font-size: 200% !important;
    color: var(--resume-headers-color);
    margin: 0;
}

.big-header {
    display: inline-block;
    font-family: var(--resume-big-header-font);
    font-size: 150% !important;
    font-weight: normal;
    color: var(--resume-headers-color);
    opacity: 0.8;
    margin: 0;
}

.small-header {
    display: inline-block;
    font-family: inherit;
    font-size: 120% !important;
    font-weight: normal;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.resume-item {
    padding-top: 1rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#personal-data-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: stretch;
}

#work-experience-resume-container, #education-resume-container {
    padding: 0;
    margin: 0;
    list-style: none;
}

#miscellaneous-resume-div {
    padding-bottom: 1rem;
}

#miscellaneous-skills-resume-container, #miscellaneous-qualities-resume-container, #miscellaneous-interests-resume-container {
    justify-content: space-around;
}

.resume-misc-container {
    margin-bottom: 1rem;
}

.resume-keywords-container {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 40%;
    color: RGB(252,252,252);
    margin: 0 !important;
    width: 100%;
}

.separator {
    padding: 0.5rem;
}

.separator-filler {
    background-color: var(--resume-separator-color);
    opacity: 0.7;
    margin: 0 auto;
    min-height: 4px;
    width: 95%;
}